[2022-10-16 11:17] jasonmhead opened #1 "Code License Addition"
### Describe the feature you'd like to see:

Hello, could you add a license to the repo?
Perhaps MIT? :)

### Additional information

_No response_

[2022-10-16 13:30] jasonmhead opened #2 "Local Stable Diffusion Render"
### Describe the feature you'd like to see:

Any plans to support generating local diffusion images locally?
Perhaps it could tie into Automatic1111's API (with it being a dependency to install) after launching it and save a lot of work that way, and just pull it into Blender from there.

### Additional information

_No response_

[2022-10-16 13:51] benrugg commented on #1
Yes. Done. Meant to get to that earlier! (and I will add the license to all the code blocks on the next release)

[2022-10-16 13:51] #1 closed

[2022-10-16 13:53] benrugg commented on #2
For sure. I hadn't realized how much demand there would be for local installation until about a dozen people asked for that yesterday. That will be my next focus!

[2022-10-16 14:26] anotherjesse commented on #2
I've had good luck using https://github.com/replicate/cog in my projects for local work

Replicate has an auto-scale web service you pay for, but also exposes the models as docker containers you can run locally.  (I like using this because I can use local version for overnight renders - and use hosted version for getting images from many concurrent renders (pay $0.01 to replicate for an images fro

[2022-10-16 16:03] benrugg commented on #2
@anotherjesse Thanks for letting me know about this! I had used replicate.com a bit, but I didn't realize it also exposed docker containers. That's rad.

Definitely feel free to contribute - I'd be happy to have more collaboration. I am not sure if docker is the best route for everyone, or if there will be a relatively hands off way to install everything through python. I think https://github.com/

[2022-10-16 17:50] erwincoumans commented on #2
Thanks for sharing the project! I use the local webui from https://github.com/hlky/stable-diffusion, would be nice if Blender connect to such a thing locally.

[2022-10-16 18:15] benrugg commented on #2
Nice, I'll check that out. A number of people have said they use https://github.com/AUTOMATIC1111/stable-diffusion-webui

I'd love to support a variety of local installation options if possible

[2022-10-16 18:35] Shadowmunky opened #4 "AI render node Muted"
### Describe the bug

The AI render node is muted in the beginning. When unmuted , shows black screen.

### To reproduce

Blender default scene> enable AI render> add prompts> Render

### Expected behavior

Export AI image

### Screenshots/video

![image](https://user-images.githubusercontent.com/86535188/196052077-79a55e55-4071-4721-9e28-5e19874a414a.png)
![image](https://user-images.githubuserco

[2022-10-16 18:44] benrugg commented on #4
@Shadowmunky Thanks for submitting this. Are you seeing any error in the panel (you may have to scroll to it)? Like this screenshot?
<img width="1728" alt="Screen Shot 2022-10-16 at 1 42 17 PM" src="https://user-images.githubusercontent.com/1221274/196052469-832b2a96-204c-41d1-b9a3-e84f73050996.png">

[2022-10-16 18:50] ItalicAI24 commented on #4
I am also experiencing the same issue. However, I do not see any "error" prompt within the AI Render tab. ![image_2022-10-16_144924025](https://user-images.githubusercontent.com/115946578/196052636-6d7b9317-56e7-49f9-9ecb-a27c3d1ad23d.png)
![image_2022-10-16_144953009](https://user-images.githubusercontent.com/115946578/196052661-1c530500-c708-47a3-8611-aa8dbd1940e1.png)

I can only see black when

[2022-10-16 18:58] benrugg commented on #4
@ItalicAI24 Thanks for posting, too. Do you see anything in the panel on the right (see my screenshot above) when you scroll to it?

[2022-10-17 02:02] enzyme69 opened #5 "Timeout when integrating with Diffusion Bee"
### Describe the bug

[code]

### To reproduce

I was running this AI render while also doing Diffusion Bee (tasking stuff). And I kept getting this time out issue and no render being produced.

### Expected behavior

It should just work.

### Screenshots/video

_No response_

### Environment

- AI Render version: latest
- Blender version: 3.4
- Operating system: macOS Ventura

### Logs

_No respo

[2022-10-17 02:20] benrugg commented on #5
Interesting... I will check this out.

[2022-10-17 03:26] enzyme69 commented on #5
It could be my wifi network however, so maybe user with slow connection experience this.

Detailed logs in the terminal could help to inform the user, or like maybe showing how much credit left on the Dream Studio.

[2022-10-17 05:42] coolwant opened #6 "Couldn't create temp directory for images"
### Describe the bug

I rendered simple test scene, but blender couldn't render AI Render and showed such a messege "Couldn't create temp dirctory for images"  and didn't funtion rendering (only render base blender render. Didn't rendered AI render)
I relocated other directory for render, but same happen.
* AI Render node is mute too !
*

### To reproduce

Install AI Render
Make simple test scene

[2022-10-17 08:12] jasonmhead commented on #2
Docker can be great but does introduce some install overhead.
Using straight virtual python envs can work pretty well - Automatic1111's web ui supports that method and it's becoming a pretty bit project over there.

[2022-10-17 15:16] benrugg commented on #6
Thanks for posting this. I will do an update that will let you choose a temp directory, which should solve this. So far, this seems like a rare bug, but I will squash it!

[2022-10-17 17:02] zofoyodee commented on #4
I have the same issue and I don't see an error on the right.  I'm just getting a black screen when I enable the AI Render Node.  I'm using Blender 3.3.

[2022-10-17 17:33] benrugg commented on #4
@zofoyodee Just to totally clarify, do you see the AI Render panel on the right, or is it scrolled off the screen?

[2022-10-17 18:06] zofoyodee commented on #4
I see the AI panel on the right but I don't see an error.

[2022-10-17 18:45] benrugg commented on #4
@zofoyodee ok, thanks for clarifying. Could you open the system console by going to Window > Toggle System Console, then do another render, and send me a screenshot of the console?

[2022-10-17 19:03] zofoyodee commented on #4
Is it because my C drive is low on storage?

![screenshot2](https://user-images.githubusercontent.com/115167050/196260818-92f656a8-f787-4fcf-85c6-725ccc98a24a.png)

[2022-10-17 19:10] benrugg commented on #4
@zofoyodee oh, super interesting. I think there might just be some obscure bug with the way the filename is getting handled. It looks like the temp file is mixing forward slashes and backslashes.

I'll address this in a new release as soon as I can. You may be able to fix the issue on your machine by changing or removing the 'temporary files' preference in Blender:

<img width="662" alt="Screen Sh

[2022-10-17 19:48] zofoyodee commented on #4
That worked!  Thanks :)

![screenshot3](https://user-images.githubusercontent.com/115167050/196269445-0354f24c-f1e3-40bc-9efc-c0224279bd44.png)

[2022-10-17 19:51] benrugg commented on #4
@zofoyodee Wonderful! So glad we figured it out. I will try to make sure this doesn't happen to others in the future!

@Shadowmunky @ItalicAI24 This might also be the issue you were experiencing. Feel free to try this fix and let me know (see above).

[2022-10-17 19:55] zofoyodee commented on #4
I'm already getting amazing results - this plugin rocks!

[2022-10-17 20:14] benrugg commented on #4
@zofoyodee So glad to hear it. I'd love to see some - you can tag me on twitter @ai_render or instagram: @airenderblender

[2022-10-17 22:14] ItalicAI24 commented on #4
I'll have to try it and see if it works. My Temporary Files path was already empty so did not notice anything with slashes being weird unless that was referring to the command prompt.

[2022-10-17 22:18] benrugg commented on #4
@ItalicAI24 ok, so it might be a different issue, then. If you can post a log, that's what will really help me track it down

[2022-10-18 07:25] dapa5900 opened #7 "Error"
Hi,

thanks a lot for the add-on, but unfortunately it doesn't work in my case. Please see below the error I get aft rendering:

![image](https://user-images.githubusercontent.com/75205162/196363939-52d6cf64-b11f-4cef-a411-b8f36adcbe4e.png)

The compositing node is also muted but even when I unmute it, it doesn't work.

[2022-10-18 15:00] benrugg commented on #7
@dapa5900 Thanks for posting the error message. I'll do my best to figure out what is happening here. That error is unfortunately just a snippet of a longer one. Could you send the full log?

- On Windows, in Blender, you can go to Window > Toggle Error Console
- On Mac, start a Terminal window, then run `cd /Applications/Blender.app/Contents/MacOS && ./Blender` and you'll see the log in the termi

[2022-10-18 16:56] Rxrehy commented on #7
AI Render Error:  Something went wrong trying to create this image. Full error: Traceback (most recent call last):
  File "/var/lang/lib/python3.9/runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/var/lang/lib/python3.9/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/var/task/stability_sdk/client.py", line 446, in <module>

[2022-10-18 18:11] benrugg commented on #7
@Rxrehy Ok, great, that helps a lot. I think this is related to a couple of the other bug reports. Hopefully I can get this fixed asap!

[2022-10-18 20:52] Rxrehy commented on #7
Yup, first I had that temp folder issue so after fixing that, I got this error.

[2022-10-18 20:59] QuinzyDev opened #8 "AI Renderer not working"
### Describe the bug

After rendering, nothing changes. In the AI Render Tab, the node "AI Render" is greyed out.

### To reproduce

Every time I try to render it.

### Expected behavior

_No response_

### Screenshots/video

<img width="1912" alt="Render AI Console" src="https://user-images.githubusercontent.com/68570704/196543476-0bd8d6aa-e306-4f61-bb04-d16d74dd83d6.PNG">

### Environment

- AI

[2022-10-18 21:25] benrugg commented on #7
@Rxrehy Ah, ok, that's helpful info, too. I think it's related. I'm pretty sure it's just not getting permission from the operating system to create files. I'm working on it now...

[2022-10-18 21:28] benrugg commented on #8
Looks like a duplicate of #4. You should be able to fix it by clearing out the "temporary files" preference in Blender: https://github.com/benrugg/AI-Render/issues/4#issuecomment-1281347158

I will also be fixing this in a release very soon!

[2022-10-18 21:28] #8 closed

[2022-10-18 21:28] benrugg commented on #8
@QuinzyDev by the way, thank you for posting the log!

[2022-10-18 23:22] benrugg commented on #7
@Rxrehy @dapa5900 Could you try testing this update (attached)? Remove the existing add-on and install this one. Crossing my fingers... I think this should work.

[AI-Render-v0-2-7.zip](https://github.com/benrugg/AI-Render/files/9815634/AI-Render-v0-2-7.zip)

[2022-10-18 23:25] benrugg commented on #6
@coolwant I think this update should fix the issue. Could you try testing this for me before I release it to everyone else? Remove the existing add-on and install this one (attached). Let me know if it works!
[AI-Render-v0-2-7.zip](https://github.com/benrugg/AI-Render/files/9815638/AI-Render-v0-2-7.zip)

[2022-10-18 23:28] benrugg commented on #4
I am hoping that the update I'm about to release will fix this issue. For any of you who have a chance tonight, could you try this update and see if it works for you? Remove the existing add-on and install this one (attached).

[AI-Render-v0-2-7.zip](https://github.com/benrugg/AI-Render/files/9815646/AI-Render-v0-2-7.zip)

[2022-10-19 04:02] zhoujiujia commented on #4
When I click the "Enable" button,I see a error on the debug channel:
![image](https://user-images.githubusercontent.com/12220545/196594501-849d2df2-bf27-4840-b612-800213e49a20.png)

And then I click again,there's no error.But when I render,I see the black window.
![image](https://user-images.githubusercontent.com/12220545/196594763-a962b37f-1094-47c9-a5cc-c42340c62174.png)

[2022-10-19 05:52] coolwant commented on #6
Hi Thank you for quick update !
First time it work! but second when i did render again (Changed parameter...etc), The AI render muted.  same as before bugs list "AI Render nodes muted"

[2022-10-19 07:00] sntlks commented on #4
![image](https://user-images.githubusercontent.com/52822395/196619351-4f9eb29e-1836-4559-a4d3-5523046f4680.png)
The AI Render node is grey and invalid

[2022-10-19 07:58] dapa5900 commented on #7
@benrugg  Yeah, it's working now. Thanks a lot! :-)

[2022-10-19 09:23] shashuer commented on #4
i tried v0-2-7.Same problem. AI Render node is invalid.
![20221019171758](https://user-images.githubusercontent.com/116157115/196650937-e23ee66e-07e9-479a-bfc2-4390af820f7d.png)

[2022-10-19 11:14] sntlks commented on #4
![image](https://user-images.githubusercontent.com/52822395/196675781-660db532-cbdd-4c54-8c46-c0232b71d2f7.png)
Fixed~v0-2-7 @benrugg

[2022-10-19 11:17] sntlks commented on #4
![image](https://user-images.githubusercontent.com/52822395/196676321-a5104fd1-491d-4bca-8c52-0960987ab00b.png)
It's working~v0-2-7

[2022-10-19 13:22] benrugg commented on #4
@sntlks really glad it's working. @zhoujiujia @shashuer your issue is a different that I will fix this morning, too!

[2022-10-19 13:22] benrugg commented on #7
@dapa5900 Great, thank you for testing it for me!

[2022-10-19 13:31] benrugg commented on #6
@coolwant Gotcha. Yeah, at the moment, it will likely time out if you do 1024x1024. I plan to add AI upscaling as soon as I can get to it.

[2022-10-19 16:10] benrugg commented on #7
Fixed in the latest release. Get it from Blender Market, Gumroad or the [releases page](https://github.com/benrugg/AI-Render/releases/tag/v0.2.8)

Or update in Blender under 'Preferences' > 'Add-ons' > 'AI Render' > 'Updates'

Fixed in a8d18a059e24442f95104e080c71c6ed2d106ae1 and 2db43b2a93a10a3034db9eb6d7e725dfab4db4f3

[2022-10-19 16:10] benrugg commented on #6
Fixed in the latest release. Get it from Blender Market, Gumroad or the [releases page](https://github.com/benrugg/AI-Render/releases/tag/v0.2.8)

Or update in Blender under 'Preferences' > 'Add-ons' > 'AI Render' > 'Updates'

Fixed in a8d18a059e24442f95104e080c71c6ed2d106ae1 and 2db43b2a93a10a3034db9eb6d7e725dfab4db4f3

[2022-10-19 16:10] #6 closed

[2022-10-19 16:10] #4 closed

[2022-10-20 02:01] MoNeart opened #9 "AI Image style conversion"
### Describe the feature you'd like to see:

Photoshop actions are awful. I would like to take an image or 3D scene and preserve as much of the detail and elements as desired and turn it into a sketch or ink drawing or oil painting etc in the style of various artists and have it look like that style.

### Additional information

_No response_

[2022-10-20 12:05] benrugg commented on #9
I think you can basically already do this with AI Render. Under 'Advanced Options' in the AI Render panel, turn up the 'Image Similarity' to 0.6-0.7, and then describe your image with the addition of art styles in the prompt. Stable Diffusion can do a lot more than just "style transfer", but if you use it this way, it should act like what you're saying.

Also, there's a Stable Diffusion plugin for

[2022-10-20 18:39] carson-katri commented on #2
@benrugg This addon looks really cool, especially helpful for people with low VRAM.
RE dependencies in Dream Textures, I package all of the dependencies into the addon for distribution. I’ve setup a GitHub Actions workflow that does this for every tagged release. Also, the addon hooks into Cycles to add a “Dream Textures” render pass, which similarly runs image2image on your rendered scene: https:

[2022-10-20 19:08] benrugg commented on #2
Hey @carson-katri, thank you so much for reaching out. I looked at Dream Textures a few days ago, and I was *very* impressed with what you've done!

When I saw the Render Pass output you created was like, "oh... I wish I had known about that!"

I've been considering the different ways to support local installations. Ideally, I'd like to support existing installations people already have (like Auto

[2022-10-20 19:31] carson-katri commented on #2
Integrating with existing installs seems like a nice simple way to go about it.

As long as you comply with the license, feel free to take inspiration 😁

Looking forward to seeing the art people make with it!

[2022-10-20 19:34] benrugg commented on #2
Yeah, I'm excited to see what people do with all of these tools!

[2022-10-20 19:45] geonom commented on #2
Ill be very happy to test and give feedback about any stable diffusion 1111 local installation usage ;)

[2022-10-20 20:22] benrugg commented on #2
@geonom sounds great. I'm hoping to have something ready to test tomorrow!

[2022-10-20 22:00] MoNeart commented on #9
No, will have to give that a shot and see if it does what I think, thanks!

On Thu, Oct 20, 2022 at 8:06 AM Ben Rugg ***@***.***> wrote:

--
***@***.***

[2022-10-21 06:46] nan0c0r3 opened #10 "Add the ddim sampler"
### Describe the feature you'd like to see:

as I know that one of the next features will be the implementation of animations, I suggest adding the sampler ddim. I had better results with coherence between frames using this sampler in Deforum notebook.

### Additional information

_No response_

[2022-10-21 13:24] elliskt opened #11 "Render image not working"
### Describe the bug

Hi, I tried to use AI Render but after I clicked Render Image, it was showing the original image from Blender. Blueprint showed that it was connected to AI Render

### To reproduce

1. installed AI Render in Blender
2. size, prompts, style selected
3. Render Image but AI Render not working (showing the same original image)

### Expected behavior

_No response_

### Screenshot

[2022-10-21 14:02] benrugg commented on #10
Ah, good call. I will do that! Thanks so much for letting me know.

[2022-10-21 14:03] #9 closed

[2022-10-21 16:06] benrugg commented on #9
I guess the other place I'd point you to is NightCafe: https://nightcafe.studio/

They started a couple years ago (way before Stable Diffusion) doing "style transfer" with earlier AI tools. I love their site, UI and community!

[2022-10-21 18:16] benrugg commented on #2
@geonom and anyone else who would like to test: The attached version supports local installation with Automatic1111's web ui. (More local install options should be doable now that the structure is in place).

I have not tested at all on Windows. No help docs are up yet. Will be doing both of those things soon.

Because Automatic1111's code is changing so quickly, it's possible that you'll need to

[2022-10-21 19:10] benrugg commented on #2
Welp, so actually, the Automatic1111 web ui has changed since yesterday, and now the params are in a different format. Will make a new release as soon as I can get working again 😅

[2022-10-21 19:55] Razlad opened #12 "ReferenceError: StructRNA of type Scene has been removed"
### Describe the bug

I installed the Blender addon and added the api key from the website then tried to render but there were no changes in the render whatsoever

### To reproduce

followed the Tutorial

### Error log

no error log alerts

### Environment

- Blender version (upper right corner of splash screen): 3,30
- AI Render version (find in Preferences > Add-ons):  0,2,8
- Operating system (

[2022-10-21 20:24] benrugg commented on #12
I'll do my best to help. The only way I'll be able to track it down is with an error log. In Blender, go to Window > Toggle System Console and then copy and paste what you see there.

[2022-10-21 20:43] Norgus commented on #2
@benrugg do you mind saying what commit hash it should work with?

[2022-10-21 21:16] benrugg commented on #2
@Norgus It worked with 991a595. But I have it now working on the latest build as well. I just need to fix one last bug on Windows, and I'll have a new test release for you.

[2022-10-21 21:20] Norgus commented on #2
Ah, I think I need to wait for that windows bugfix because I can't make it work on that checkpoint either. Looking forward to trying!

[2022-10-21 21:51] benrugg commented on #2
Ok, here's a new version that should work on both Windows and Mac, and with a current install of Automatic1111 (and in theory also older versions, too).

[AI-Render-v0-3-2.zip](https://github.com/benrugg/AI-Render/files/9842734/AI-Render-v0-3-2.zip)

Let me know if it works for you!

[2022-10-21 22:05] Norgus commented on #2
So I still didn't get it working

My Automatic1111 console looks like this: (is up to date and working in the webui)
[code]
My blender add-on settings look enabled and pointing at the correct local URL/port
![image](https://user-images.githubusercontent.com/129944/197295271-0e672c00-c974-47f2-a53d-a05d25a53b83.png)

And my AI render settings look enabled
![image](https://user-images.githubusercont

[2022-10-21 22:18] Norgus commented on #2
@benrugg I'm fairly sure the all zeros just means it's listening on all available interfaces & addresses (I can't use 0.0.0.0:7860 in the browser or your add-on). I access it through http://localhost:7860/ (and the 127 version of the loopback address) just fine and [this website](https://diffusionui.com/b/automatic1111) I found googling seems to at least partly work with the default API URL of htt

[2022-10-21 22:21] benrugg commented on #2
@Norgus Ah, ok, gotcha. I didn't realize that's what 0.0.0.0 meant. If it's at least partially working in Diffusion UI, then something is definitely going wrong on my end.

Can you get the Blender error log under Window > Toggle System Console?

[2022-10-21 22:21] geonom commented on #2
It is working over here.

![image](https://user-images.githubusercontent.com/1165081/197296824-4345b8cb-01af-4c9c-b8ea-6f519d5901f5.png)

I needed to change the stable diffusion 1111 setting to being before October 21 and then it worked.

[2022-10-21 22:25] Norgus commented on #2
How infuriating! I wonder what's going on with my system.. are we all using Blender 3.3.1 LTS?

I can't recognise anything relevant looking in the error log:
[code]

[2022-10-21 22:27] geonom commented on #2
Am on Blender 3.2.2 - though just by incident.

[2022-10-21 22:31] geonom commented on #2
For me the URL always was something like 127.0.0.1:xxxxx - not sure, why it would be different from yours.

Though it seems my Stable Diffusion 1111 git version is from 36 hours ago approximately.

I'll attach the zipped download in case it helps.

[stable-diffusion-webui-master(4).zip](https://github.com/benrugg/AI-Render/files/9842854/stable-diffusion-webui-master.4.zip)

[2022-10-21 22:39] benrugg commented on #2
@geonom Great to see that it's working for more than just me. And yeah, the 36 hours' old version of Automatic1111 works with my setting for "before Oct 21". Very glad that that's working, too. An install from today should work with the default setting...

@Norgus I have no idea what's going wrong for you... I have errors printed at every possible place I can think of, so if there's nothing in the

[2022-10-21 22:47] Norgus commented on #2
@benrugg I tried Blender 3.2.2 stable just in case but no luck there. Interestingly, the addon will kick an error if the local SD isn't running, so I assume it's detecting something or other..

I also just tried selecting the "installed before Oct 21st" option, but no difference. I don't even have windows firewall on so I'm a bit out of ideas.

[2022-10-21 22:50] benrugg commented on #2
@Norgus ok, good info on the fact that it does error if sd isn't running. I'm unfortunately out of ideas, as well, although I'll keep thinking about it. I hate bugs!

I think in general I'll need to find a less brittle way of integrating with Automatic1111. If you know anyone who would like to collaborate/contribute, let me know!

[2022-10-21 22:51] benrugg commented on #2
@Norgus Oh, I also meant to say that 3.0.0-3.3.1 should all work fine

[2022-10-21 22:52] Norgus commented on #2
I tried removing all of my launch arguments on SD and it changes the listening address to say Running on local URL:  http://127.0.0.1:7860 (this isn't really how I want to generally run it because it's handy to use over the network and this disables that). It doesn't appear to have influenced the result in blender, though.

[2022-10-21 22:55] geonom commented on #2
This is my webui-user.bat:

`@echo off

set PYTHON=
set GIT=
set VENV_DIR=
set COMMANDLINE_ARGS=--share

call webui.bat
`

It gives me both a local URL and also a gradio.app link - and both work within the blender plugin - just tested both. Strange...

[2022-10-21 23:05] Norgus commented on #2
OK I tried just disabling all of my blender addons except this one, and now at least I get an error message.
In blender:
[code]
in SD console:
[code]

[2022-10-21 23:07] geonom commented on #2
Can you try this?

https://a127e0a3b166c01f.gradio.app

I'll leave it online for about ten minutes and then stop it to avoid abuse by random internet users ;)

[2022-10-21 23:09] TiagoTiago commented on #2
I haven't studied the code myself yet, so dunno if it's relevant. Would it help you to see how this Krita plugin does it? https://github.com/Interpause/auto-sd-krita

[2022-10-21 23:13] Norgus commented on #2
@geonom thank you, I just realised I tried with the setting on the newest version, has it gummed up? My blender interface has been locked for a couple of minutes so I might give up and kill it.

[2022-10-21 23:18] geonom commented on #2
Interesting - it triggered this in the SD console:

[code]

[2022-10-21 23:19] geonom commented on #2
And then it began to work for me again. Not sure, what happened there but it seems like it did not like your input :)

[2022-10-22 04:47] Jitone1 commented on #2
hey I just trying out this 3.3 version and errored. sorry :) I tried to get you as much info as possible but I'm not a programmer. I've the latest version of blender, and windows 10

![3-3StableDiffusion](https://user-images.githubusercontent.com/74675098/197320155-7a58b64f-fee8-4133-8fea-9ebc31831020.jpg)

[2022-10-22 06:18] geonom commented on #2
Hey there, it seems for some reason an old version of your plugin is loaded. On my screen you can see an "Advanced: Local Installation" tab in the plugin settings on the left.

There I did two things:
1. Check the "Enable rendering with Local Stable Diffusion" checkbox
2. Copied the URL given by Stable Diffusion after starting webui-user.bat into the settings window and then clicked anywhere else

[2022-10-22 08:27] migero opened #13 "Local installation: Ai renders but won't show in Blender"
### Describe the bug

Blender will not show the resault image
Blender's system console is not helping much too

### To reproduce

Rendering scene with Local Backend (Automatic1111 before Oct 21)
will resault in image beeing processed as expected
(shows progress in webUI console and can find the image in webUI output folder)

### Error log

AI Render Error:  Couldn't load the image from Stable Diff

[2022-10-22 14:04] benrugg commented on #2
@Norgus, I woke up thinking about this, and it suddenly struck me: You're running an older version of Automatic1111. Here's what should make it work for you:

1. In the Automatic1111 terminal, quit the web ui, then run `git pull` (must be successful; if it errors, you'll need to do a fresh install) and then run `git checkout f49c08e`.
2. Run Automatic1111 again
3. Set the AI Render preferences to

[2022-10-22 14:04] benrugg commented on #2
@TiagoTiago, thank you for posting about that other plugin. I will look into that.

@Jitone1, Blender has a really dumb thing, where it doesn't actually activate a newly installed add-on if you had an older version already running. Restart Blender and you should see a new box in the add-on preferences where you can activate local SD.

[2022-10-22 14:19] benrugg commented on #2
TL;DR For anyone coming here, here are the instructions for how to get local install working: https://github.com/benrugg/AI-Render/wiki/Local-Installation

Hopefully in the near future, it will be a little easier 🤞

[2022-10-22 15:20] TiagoTiago opened #14 "Move parameters to the composition node itself, add button to create additional prompts, each prompt with a weight parameter, and also checkbox to inpaint alpha/mask"
### Describe the feature you'd like to see:

Something I've been wanting to try was to have multiple simultaneous AI passes, each masked to different objects on the scene and with their own prompts, with objects that will rotate during animation (or have the camera move around them) having multiple prompts specifying from which angle it's visible with the weights for those prompts controlled by dr

[2022-10-22 15:34] ajayboss-IN opened #15 "The render image don't change"
### Describe the bug

Every time i click render but it not change the render image.I try youtube tutorial but it not work at all help me& thank you.
![Screenshot (269)](https://user-images.githubusercontent.com/63161359/197347272-06754403-954f-4056-87dc-766cce662477.png)

### To reproduce

1)install addon and connect to api
2)create a sample scene
3)click to render

### Error log

Traceback (most

[2022-10-22 15:40] TiagoTiago opened #16 "Render Animation doesn't work"
### Describe the bug

If I try to render an animation, the output is just the original non-AI render (except if I did do an AI render previously, the first frame gets replaced by the previously AI rendered image even if the scene has actually been modified in the meantime.

ps:If it makes any difference, I believe the Auto1111 script here updates it on every launch, and I fired it up about half an

[2022-10-22 17:33] Norgus commented on #2
@benrugg I can assure you that my automatic1111 repository was up to date because I include git pull in my webui-user.bat and see it successfully update each time (and then the following checkout hash in the console).

There have been updates since f49c08e now, which didn't help, so I tried checking out f49c08e as reccommended. Unfortunately I still can't seem to get 0.3.3 of AI render to interfac

[2022-10-22 17:43] benrugg commented on #13
If it's not working with Automatic1111, it's probably because it's not the right version of it. I've added more to the instructions, and now included a section about how to get it to the right commit version. Try this: https://github.com/benrugg/AI-Render/wiki/Local-Installation

[2022-10-22 20:16] benrugg commented on #2
@Norgus argh, I really thought that would work. I'm not sure what your comfort level is with coding, but you can try adding some debugging lines to print what AI Render is doing in regard to the Automatic1111 request.

Add this to line 53 of `automatic1111_api.py` in AI Render (you can find the source location in the Add-on preferences):
[code]

[2022-10-22 20:19] benrugg commented on #16
Thanks for submitting this. It's actually listed as a known limitation that animation isn't supported yet. I'm going to close this for now, but I will be adding animation support soon!

[2022-10-22 20:19] #16 closed

[2022-10-22 20:21] benrugg commented on #14
Wow, that's a very cool idea. I think that's probably beyond the scope of what I'll be able to do, but I would love collaboration for this. It would be pretty incredible to be able to have different prompts for different objects/areas of the screen.

[2022-10-22 20:30] benrugg commented on #15
Looks like the root of the error is that it can't connect to the website for DreamStudio. My best guess is that you have a proxy or VPN that is causing the issue. Are you using anything special to connect to the internet (or are you on a managed internet connection, like at a company or school)?

[2022-10-22 20:50] Norgus commented on #2
@benrugg I wouldn't call myself a developer but I can kind of hack something simple together given enough time.
This is the file you're referring to I think? It seems to be returning your debug text now so presumably I got it right!
[code]

The debug output on render was:
[code]

I guess it actually responded and said it isn't generating?

[2022-10-22 21:28] benrugg commented on #2
@Norgus Ok, cool, we're getting closer. Thanks for working on this with me. Based on the response you got, I tracked down a bug in my code that explains why it wasn't printing an error before. If it didn't get the response it was expecting from Automatic1111, it was supposed to throw an error, but instead it was just failing silently. Attaching a new release that handles the error properly.

Unfor

[2022-10-22 22:24] Norgus commented on #2
Thanks for being so patient @benrugg
I tried checking out f49c08e again and running 0-3-4 and it does spit an error now :)
![image](https://user-images.githubusercontent.com/129944/197364322-3ae3e7b9-0fa1-4a01-aa49-31bd86cad70f.png)

I just had the idea that maybe user scripts change some aspect of the expected JSON since there isn't a proper API yet, so I removed all my scripts (I had a few extra

[2022-10-22 22:48] benrugg commented on #2
@Norgus ah, I didn't even think about user scripts. It seems like we're so close, but honestly, I don't know what else to try. I think hooking up to a real API should solve everything, so hopefully that will happen very soon.

[2022-10-22 22:48] Norgus commented on #2
OK My hunch must have been correct but my solution of deleting all the scripts was too drastic - I restored just the ones from the checkpoint so the scripts folder had the default extras but no more and AI-Render works!

I can't wait for there to be a proper API so this nonsense doesn't happen in the future.
Sorry for the headache @benrugg
![image](https://user-images.githubusercontent.com/129944/

[2022-10-22 22:50] benrugg commented on #2
Hey, that's great! I'm so glad you finally got it working. Love that default sugar cube 😄

[2022-10-22 22:54] TiagoTiago commented on #16
Oh, sorry I missed that. Been trying so many different SD stuff lately I forgot I hadn't read the ReadMe for this one yet.

[2022-10-22 22:58] benrugg commented on #16
No worries. Yeah, new stuff is coming out almost every day!

[2022-10-22 23:11] Norgus commented on #2
donut tutorial cheating speedrun
![image](https://user-images.githubusercontent.com/129944/197365658-70bdf7b6-fc71-4923-b516-3d8c677954b1.png)

[2022-10-22 23:29] benrugg commented on #2
Hahaha love it

[2022-10-23 04:55] Jitone1 commented on #2
@benrugg Hey yeah, I updated everything reloaded blender and it's working. Thanks. So basically this seems to be doing image to image using the original render as the input?
![robot](https://user-images.githubusercontent.com/74675098/197374455-49e95f3d-e598-46ee-b78f-2199b424b7ec.png)

[2022-10-23 10:06] enzyme69 commented on #2
Testing "Local Render", I have StableDiffusionWebUI, but getting error message in the log:
[code]

[2022-10-23 10:26] enzyme69 commented on #2
I saw this and it might do something...
https://github.com/benrugg/AI-Render/issues/2#issuecomment-1287802853

Still waiting because it might take like 4 minutes in my system.....

[code]

NOTE:
I also have Swift Diffusion -> on Mac M1 8GB -> slow, but it's running at 1 minute for 25 samples. Maybe if somewhat we could hook this AI Render "Local Diffusion" somewhat into Swift Diffusion (using baze

[2022-10-23 11:21] enzyme69 commented on #2
Still error-ing:

[code]

[2022-10-23 13:35] benrugg commented on #2
@enzyme69 glad you got it running by checking out the specific commit. If you got an error later, I would guess that maybe it got reset back to a later commit, so I would try doing `git checkout f49c08e` again. And yeah, it's really slow on my M1 mac, too. If Swift Diffusion ends up getting further down the road, let me know and I'll try to integrate with it!

@Jitone1, yep exactly

[2022-10-24 01:47] enzyme69 commented on #2
@benrugg Still working on it, maybe it's working ....

Try this **Swift Diffusion**: and see if that can work somewhat. 512 x 512 == under 1 minute with 25 samples.
https://forums.swift.org/t/started-to-work-on-swift-diffusion-a-port-of-stable-diffusion-in-swift/60302

Requires Bazel etc, but amazing speed and no pressure on the system.

[2022-10-24 02:01] enzyme69 commented on #2
@benrugg Still failing with same error, I will reinstall using latest addon:
[code]

[2022-10-24 02:46] enzyme69 commented on #2
No luck, same old error message:
[code]

[2022-10-24 02:59] enzyme69 commented on #2
I don't have any environment would this matter? @Norgus how did you fix yours?

[2022-10-24 03:14] enzyme69 commented on #2
**git checkout f49c08e**

Okey... the address change to
**http://127.0.0.1:7861**

This seems to work and running

[2022-10-24 04:38] Wanglibin14715 commented on #2
![image](https://user-images.githubusercontent.com/26056324/197448566-553d6d1a-a681-43fa-825e-eadcfb1db1c4.png)
Hi, I run AI-Render-v0-3-2.zip add on, it partially work.
I can see the result in my webui/output file, however it same to have problem returning result to blender. Blender say Couldn't load the image from SD.

[2022-10-24 04:55] enzyme69 opened #17 "Batch Render or Loop Render"
### Describe the feature you'd like to see:

Since unlimited "local render" is working, maybe we need also the ability to batch render static or animated frames -- with different random seed or same seed. I would like to render over night usually, since my local render is kind of slow 4-10 minutes per image, I can let it render for 6-8 hours while asleep or when computer idle.

Another request is

[2022-10-24 08:45] Aekschen commented on #12
I have the same behavior as @Razlad

I get this in the system console:

[code]

[2022-10-24 15:48] benrugg commented on #2
@enzyme69, glad you got it working. Yeah, at least until I can make a more stable integration, `git checkout f49c08e` is crucial.

@Wanglibin14715, definitely use v0.3.4, and try all the steps here: https://github.com/benrugg/AI-Render/wiki/Local-Installation

[2022-10-24 15:50] benrugg commented on #17
Yeah, this is a great idea, and it's in my plans. I definitely want to make this happen.

[2022-10-24 15:55] benrugg commented on #12
@Aekschen this is interesting. Thanks for posting the log. I will see if I can track this down!

[2022-10-24 21:51] benrugg commented on #2
Hi everyone - I just made a new release that should work much more reliably with Automatic1111 going forward. You'll need to follow slightly updated instructions (the key difference being that you will now enable `API` mode): https://github.com/benrugg/AI-Render/wiki/Local-Installation

I've tested on Windows and Mac, but if a couple of you could verify that it works for you, that would be amazing

[2022-10-24 21:51] benrugg commented on #13
I just made a new release that should work much more reliably with Automatic1111 going forward. You'll need to follow slightly updated instructions (the key difference being that you will now enable `API` mode): https://github.com/benrugg/AI-Render/wiki/Local-Installation

[2022-10-24 21:53] Norgus commented on #2
@benrugg I'm about to update things and test but just a heads-up, your instrcutions on that page, point 5 say
[code]
which should be webui-user.bat

[2022-10-24 22:11] Norgus commented on #2
I can confirm that it worked first time on up-to-date automatic1111 SD repository!
![image](https://user-images.githubusercontent.com/129944/197639581-fcc4ae4c-68e4-4667-a16e-823f3ed593f0.png)

[2022-10-24 22:19] benrugg commented on #2
@Norgus, yes, thank you so much for catching that! And for testing so quickly! Does it happen work with your other user scripts now?

[2022-10-24 22:24] Norgus commented on #2
@benrugg very welcome, thanks for making the cool addon & updating to support local installs!

I had some subset of my scripts loaded there, but I just copied across the rest, restarted SD, and the API continues to do its job!

[2022-10-24 22:26] benrugg commented on #2
@Norgus great. So glad it's working well now 👍

[2022-10-25 00:04] enzyme69 commented on #2
I use the latest addon, follow all instruction for Mac to add the --api, but getting error:
`AI Render Error:  It looks like the Automatic1111 server is running, but it's not in API mode`

Which is annoying because I did run it in API mode?

[2022-10-25 00:09] enzyme69 commented on #2
Okey seems like I still need to do this everytime: **git checkout df0a1f8**

[2022-10-25 06:22] Wanglibin14715 commented on #2
Same problem, Friend. "Couldn't load the image from SD." Do you know what I might have done leading to myblender cannot load image, I didn't find out I had done some thing special, it's weird.

[2022-10-25 13:44] benrugg commented on #2
@enzyme69 I will check into whether something broke after df0a1f8. Glad it at least works on that commit.

@Wanglibin14715 can you confirm that you're using v0.4.0 and following the new instructions for api mode?

[2022-10-26 15:10] Ladypoly opened #18 "[Feature request]: Send to Web-UI Button in Image Editor"
### Describe the feature you'd like to see:

When using the local installation, it would be awesome if we could send an image from the image editor in Blender directly to the web-ui in order to use all the scripts.
Then we also could use a quick viewport image render and send it to A1111 and continue there.
![F3xTU6TWnT](https://user-images.githubusercontent.com/37795467/198064209-e1454113-a3b9-4e

[2022-10-26 15:18] benrugg commented on #18
That's a great idea. I will add that to the future todo list!

[2022-10-27 15:30] #2 closed

[2022-10-27 15:30] benrugg commented on #13
Fixed in 433637e39bfd10fb39ed1489e1bf4266d75c2067

[2022-10-27 15:30] #13 closed

[2022-10-27 15:31] benrugg commented on #11
@elliskt, please try the latest release and let me know if you still have an issue. Definitely send an error log if you can. I will close this issue soon if I don't hear back.

[2022-10-29 09:10] wsippel opened #19 "Couldn't decode base64 image, or couldn't write to temp file"
### Describe the bug

The error in the title is all I get, using a local Automatic1111 install (updated at the time of writing). The webui terminal output shows that an image does get generated.

### To reproduce

Just trying to render anything with AI render enabled causes the issue.

### Error log

[code]

### Environment

- Blender version (upper right corner of splash screen): 3.3.1
- AI Rende

[2022-10-29 09:31] Imyamoe commented on #19
Same issue

[2022-10-29 15:00] benrugg commented on #19
I'll check into this right now. @Imyamoe are you also on Linux?

[2022-10-29 15:01] Imyamoe commented on #19
Sorry, Win10

[2022-10-29 15:02] benrugg commented on #19
Ok, gotcha, thanks

[2022-10-29 15:04] benrugg commented on #19
Yep, I'm getting that on my Mac as well, so it looks like Automatic1111's response has changed. I should be able to get it fixed quickly.

[2022-10-29 15:21] benrugg commented on #19
Ok, fixed in 524501b95da92a8bf6ad11ef1ac0b24ca445c907. Grab the latest release here: https://github.com/benrugg/AI-Render/releases/tag/v0.4.1, or do 'Update' in the add-on preferences.

[2022-10-29 15:21] #19 closed

[2022-10-31 05:14] f-rank opened #20 "Feature Request: Negative prompt"
### Describe the feature you'd like to see:

This is a great addon, I actually completed the 3D guru donut tut while installing it. Great fun to see how it works.
As an SD local user, big part of getting specific results is controlling the negative prompt. Took a look around and couldn't find a way, maybe there is one, if so I missed it.
Tried "--neg" and "Negative prompt:" followed by the negativ

[2022-10-31 15:31] benrugg commented on #20
Good call. It doesn't handle this right now, but I will add it to the todo list for the future!

[2022-10-31 18:43] beelico opened #21 "AI-render for blender installation tutorial"
### Describe the feature you'd like to see:

Hello

can you give me the address of a video tutorial, from start to finish, on how to install AI-render in blender?

would be the local install of AI-render .

I am not able to install by the available text.

thanks

thanks

### Additional information

_No response_

[2022-10-31 19:25] benrugg commented on #21
Yep: https://www.youtube.com/watch?v=tmyln5bwnO8

[2022-10-31 19:25] #21 closed

[2022-10-31 19:29] beelico commented on #21
I wanted to install AI-render locally in Blender.
the video you indicated is not .

is there another video about the local installation?

thank you so much

[2022-10-31 19:31] #15 closed

[2022-10-31 19:32] #11 closed

[2022-10-31 19:33] benrugg commented on #21
Ah, gotcha. For that, I only have these instructions (not a video): https://github.com/benrugg/AI-Render/wiki/Local-Installation

[2022-10-31 19:34] benrugg commented on #21
Actually, here's a video I had seen earlier for local installation. Hopefully it's still accurate: https://www.reddit.com/r/StableDiffusion/comments/xle3uw/stable_diffusion_automatic1111_full_installation/

[2022-11-02 20:27] discodiffuse opened #22 "Feature Request: Integrate with Stable Horde"
### Describe the feature you'd like to see:

ability to use stablehorde api key.

### Additional information

_No response_

[2022-11-02 20:36] benrugg commented on #22
This would be cool. I will look into it at some point.

[2022-11-03 14:15] krakensurf opened #23 "In case you are running multiple sessions"
### Describe the feature you'd like to see:

Hi,  Great Job.  I'm impressed.  I have multiple GPU's running . SD doesn't see but one at a time.  So in the bat file I have a line for one session using Automatic1111 on a browser that is currently training "set CUDA_VISIBLE_DEVICES=0"
and then I saved another copy of bat to "webui-blender.bat" and there I changed that line to "set CUDA_VISIBLE_DEVICE

[2022-11-03 14:30] benrugg commented on #23
Thanks for posting this

[2022-11-03 20:54] Ainaemaet commented on #18
This is an absolutely awesome idea! (great job btw dev, been using it all afternoon and it's pretty wonderful).

[2022-11-03 23:30] Ainaemaet opened #24 "Small QOL feature - Auto Steps/Similarity Ratio Adjustment (toggleable)"
### Describe the feature you'd like to see:

Hello, considering that in the large majority of cases when increasing similarity beyond 50% (.50) it becomes necessary to increase the step count in order to maintain proper cohesion, it would be handy to have a toggle/checkbox that one could click to enable an 'auto steps/similarity ratio adjustment' feature, where - if selected - then when a user goe

[2022-11-03 23:45] Ainaemaet commented on #20
Yes, this one is essential. Negative prompting has become an integral part of my SD workflow and even though I didn't think I would need it here, I quickly hit a wall in what I'm able to create as some scenes/prompts don't play nice and come out with weird things that I just don't want.

[2022-11-03 23:49] Ainaemaet opened #25 "QOL Feature - Ability to change models from Blender AI-Render interface"
### Describe the feature you'd like to see:

Hello again.
Currently, I can change models easily enough by keeping the Automatic1111 UI open in the browser and selecting them there, but it's tedious to have to switch out of blender to the browser, change it there, and swap back to blender again to render. It would be much nicer to be able to select a model right in the AI-Render interface in Blende

[2022-11-03 23:59] Ainaemaet commented on #17
Was just about to write up a feature request for this. Very happy to see it being worked on. We're blessed to have devs with a positive work-ethic.

Thank you @benrugg !!

[2022-11-04 01:57] Ainaemaet opened #26 "Enable Automatic's 'HiRes Fix' option in AI-Render interface"
### Describe the feature you'd like to see:

Hello, if we could hook in and render using the 'HiRes Fix' option included in Automatic1111 that would be amazing.
I tried enabling it in the UI and running in Blender, but unlike changing models as HiRes Fix is applied after the image is rendered it won't work in the AI-Render plugin the same way.

I do realize the plugin isn't the Automatic1111-UI an

[2022-11-04 16:43] benrugg commented on #24
That's a good call. I will consider this!

[2022-11-04 16:45] benrugg commented on #25
This would be nice. At the moment, I don't think Automatic1111 has API support for that, but I will check into it.

[2022-11-04 16:49] benrugg commented on #26
I think maybe the best approach for this is to have a workflow where the rendered image could be send to the UI in Automatic1111, so you can continue to apply changes from there. Like what's described in #18

[2022-11-04 19:18] optionboom opened #27 "Feature Request: xno.ai integration"
### Describe the feature you'd like to see:

Ability to use xno.ai as the generation source, using their api: xno.ai/api

### Additional information

xno.ai's API is cheaper in bulk than Dreamstudio so it'd be a good alternative, especially for potential future animation support.

[2022-11-04 19:37] benrugg commented on #27
This looks really promising! I'd love to be able to integrate with this. Unfortunately at the moment it's only text-to-image, not image-to-image. I'll close this for now, but let me know if they release an image-to-image API.

[2022-11-04 19:37] #27 closed

[2022-11-08 03:29] marianobastiUNRN commented on #26
'HiRes Fix' is a process described as such:
`Use a two step process to partially create an image at smaller resolution, upscale, and then improve details in it without changing composition`
It is done to have a more consistent structure on larger resolution generations, as the model was trained with mostly 512x512 images.
I haven't had the need for this function on renders yet, but would be neat t

[2022-11-08 06:12] Michaelvirga opened #28 "Execute the AI Image generation from the command line"
### Describe the feature you'd like to see:

Hello.

Currently it does not seem possible to be able to execute an AI image render from the CLI.  If you attempt to invoke blender with the -b flag, even if you have file output nodes enabled in the compositor as well as the "save after image" check box selected, blender does not recognize the post processing magic that this addon does, and thus it ne

[2022-11-08 15:05] benrugg commented on #26
I will try to dive into this more when I have a chance

[2022-11-08 15:07] benrugg commented on #28
@Michaelvirga ah, good call. My guess is that it wouldn't take too much code change to get this to work (I would hope!). Animation support should be coming out in the next day or two, and I'll see if I can also make it work in the background.

[2022-11-08 19:12] amerizalde opened #30 "Sampler steps is off by (half + 1)"
### Describe the bug

using the current release, for any sampler, the steps actually ran are (half the steps requested + 1). The default of 40 runs 21 steps, when I set it to 80, it ran 41 steps.

### To reproduce

using 0.4.01, running Automatic1111 locally on Windows, render any blend file with the default AI-Render settings. Check the cmd window output from Automatic1111 to see the progress of

[2022-11-08 19:17] benrugg commented on #30
@amerizalde Thanks for posting this. I've seen this on my end as well. I had thought it was actually an error on Automatic1111's end. Can you confirm that this doesn't happen when running through the Automatic1111 web UI?

[2022-11-09 22:11] benrugg commented on #28
Here is a beta release with animation support. It should work well. Please let me know if you find any bugs!

The last thing I'm working on (that isn't in this build) is support for animated prompt text!

[AI-Render-v0-5-1.zip](https://github.com/benrugg/AI-Render/files/9975526/AI-Render-v0-5-1.zip)

[2022-11-10 00:37] Michaelvirga commented on #28
@benrugg I am getting an error post intallation when I try to enable the addon - AI-Render.properties has no attribute ensure_sampler.  I can then enable it after if i click it again, but when I go to render it does not call the SD API.  In the compositing tab it looks like the AI-Render step is greyed out too

[2022-11-10 16:35] #10 closed

[2022-11-10 16:35] benrugg commented on #10
Fixed in 9f354c4ef7c36883e30b6381451d9f85ee650e41

[2022-11-11 15:50] benrugg commented on #17
Batch processing is now possible with the animation support in the latest release! You can animate Stable Diffusion settings (including prompt text!) and run as many variations as you want.

I will leave this open, though, because the one thing that isn't available yet is "loop rendering". ie. the ability to use the last AI image as the start for the next one.

[2022-11-11 15:51] benrugg commented on #17
See the [Animation Instructions](https://github.com/benrugg/AI-Render/wiki/Animation) page for more info. (And I'll be posting more instructions there soon)

[2022-11-11 18:29] optionboom commented on #27
It looks like the API has been updated to support image-to-image.

[2022-11-11 18:45] benrugg commented on #27
@optionboom Thanks for the update. I will check this out as soon as I can. I just released animation support and I'm working on posting demos and instructions right now!

[2022-11-12 20:30] marianobastiUNRN opened #37 "ETA Timer in AI Render panel layout"
### Describe the feature you'd like to see:

No need for API. Calculate remaining time by the root mean square of previous runs' time, like Gradio does.
I don't know how possible is to use this progress bar
![image](https://user-images.githubusercontent.com/113551508/201493218-7ee1b9b6-5705-4284-b437-94737ce014c8.png)
If not possible, have it in the style of the second answer here [https://blender

[2022-11-12 20:57] benrugg commented on #37
Ah, that's an interesting way to show progress. And a good idea to do an estimate.

I actually added a progress bar in the upper right corner of the image editor screen area with the new animation process. It's not especially obvious, but it was the best I could do without a huge amount of code. Blender sure doesn't make it easy!!

Here's what I'd like to do in the future:

1. **Async renders**. T

[2022-11-13 02:25] marianobastiUNRN commented on #37
Those would make great additions!
1. Had to fight with that once and gave up. Never again.
2. `/sdapi/v1/progress`, great. Side to side progress bar, render to the left and SD to the right so it kinda looks like a larger bar (maybe color coded? Is it possible to change RGB of progress bar?)
3. That's some heavy customised UI. Wonder what kind of nightmares would the dev must have gone through lol.

[2022-11-13 02:34] marianobastiUNRN opened #38 "Request: Discord server"
### Describe the feature you'd like to see:

Having a discord server with the following channels:
  • General
  • faq
  • Ideas and feedback
  • bug report
  • feature request
  • art (and techniques) sharing
  • development general

I've also seen holding voting for new features is a good unofficial way to assess priorities.

I know that most of this can be debated on Github, but on discord chat

[2022-11-13 08:33] tijszwinkels commented on #22
You read my mind. :)
I'd like to take this one if that's alright.

[2022-11-13 15:16] benrugg commented on #22
@tijszwinkels Yes, go for it! Currently, AI Render just does a regular http call to the API's. As long as Stable Horde supports that, it should be pretty straightforward to add another backend.

[2022-11-13 22:19] benrugg commented on #37
Yes, that's a good reminder about canceling, too.

[2022-11-13 22:20] benrugg commented on #38
This is a good idea. It would definitely make coordination easier. If it's ok, I'll watch how busy things get for the next few weeks, and if it ramps up, I'll create a Discord server.

[2022-11-13 22:26] tijszwinkels commented on #22
It's basically done! (https://github.com/tijszwinkels/AI-Render/tree/stable_horde_support)

I'll give it one more good look tomorrow and file a MR.

[2022-11-13 22:34] benrugg commented on #22
It's looking great! I appreciate the cleanup around those if statements that can be replaced by `utils.get_active_backend()`.

Thanks for working on this.

[2022-11-14 10:13] tijszwinkels commented on #22
See: https://github.com/benrugg/AI-Render/pull/39

If this is all stable, we could consider having the Stable Horde back-end as default, as that would make the plugin essentially zero-configuration.
However, let's get a few flight-hours on it first. :)

[2022-11-14 13:39] amerizalde commented on #30
Automatic1111 is what I was comparing it against, it doesn't occur there when accessed through the api using PaintHUA or the webui.

[2022-11-14 18:19] benrugg commented on #30
Ok, thanks for confirming that. I will dive into it when I can!

[2022-11-16 00:04] ohmygardn opened #40 "SSL Connection Error"
### Describe the bug

I've read all closed isssues on this problem but nothing helped.  The same problem each time - doesn't render and the node is muted (as on the picture).

### To reproduce

press F12 and doesn't work

### Error log

Read prefs: C:\Users\79963\AppData\Roaming\Blender Foundation\Blender\3.3\config\userpref.blend
Read blend: C:\Users\79963\Desktop\3D\first works\try ai.blend
GPUT

[2022-11-16 17:28] benrugg commented on #40
Thank you for posting the detailed logs. It looks like it's having an SSL connection error, so something about your internet configuration is blocking the connection to the server.

Is there something about your network or you computer that would modify or restrict the internet? A proxy, VPN or some kind of configuration by an IT department or school?

[2022-11-18 03:17] sujeshpullanikkat opened #41 "Traceback (Most recent call last)"
### Describe the bug

![image](https://user-images.githubusercontent.com/114976186/202608638-c8ca769e-265f-4440-99db-4f01776accd4.png)

### To reproduce

Its not getting enabled once after instiing the plugin

### Error log

Read prefs: C:\Users\Sujesh Pullanikkat\AppData\Roaming\Blender Foundation\Blender\2.83\config\userpref.blend
found bundled python: C:\Program Files\Blender Foundation\Blender

[2022-11-20 01:06] a70m123r opened #42 "Error with Automatic1111: Unexpected keyword argument `include_init_images`"
### Describe the bug

Was working few days ago, did the latest 1111 update, tried to render something in blender and got the following message "An error occurred in the Automatic1111 Stable Diffusion server. Check the server logs for more info." not sure where to find the logs...

### To reproduce

latest 1111 and AI render addon

### Error log

ERROR:    Exception in ASGI application
Traceback (m

[2022-11-20 11:04] marianobasti commented on #42
You can find the logs in A1111's CLI window, when you execute webui-user.bat

[2022-11-20 11:06] marianobasti commented on #41
I had that happen to me when removing and adding the addon while doing tests. Looks like some things aren't unregistering when removing it?
Anyway, restarting Blender always fixed it for me.

[2022-11-20 11:08] marianobasti commented on #25
New commit!
[https://github.com/AUTOMATIC1111/stable-diffusion-webui/commit/5a6387e189dc365c47a7979b9040d5b6fdd7ba43#diff-c6510edc055cb6d0f00bfe88ea1b559d06646e9600fed68c7433ea5efed91bc4](url)

[2022-11-20 11:12] a70m123r commented on #42
Added the error log

[2022-11-20 11:44] marianobasti commented on #42
There were a bunch of commits yesterday, that might have broken something.
Can you try running an img2img test on the webui? If that works, it must be something on AI-render's side, specifically when passing arguments to the api

[2022-11-20 13:29] a70m123r commented on #42
img2img is working fine, think too that the latest update broke something.

[2022-11-20 15:20] benrugg commented on #41
Thanks for confirming that, @marianobasti

[2022-11-20 15:20] #41 closed

[2022-11-20 15:22] benrugg commented on #25
Ah, sweet! Thanks @marianobasti. I'll add this to the list for my next round of updates.

[2022-11-20 15:34] benrugg commented on #42
Hmm, just updated Automatic1111 and everything is still working fine on my end. Not sure what's going on... the error you're seeing is definitely related to a recent update. `include_init_images` is new.

I would have thought the same thing @marianobasti suggested - that img2img in the web ui would be broken. But since that's not the case, I honestly don't know what else to try at the moment...

[2022-11-20 16:17] marianobasti commented on #42
Yeah, it looks like an API/modules problem. .On here httpsgithub.comAUTOMATIC1111stable-diffusion-webuipull3577(url) someone introduces the `include_init_images` argument to fix something with Python 3.7. @a70m123r what is your version?

[2022-11-20 19:12] a70m123r commented on #42
Python 3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)] on win32, should I update to 3.7?

[2022-11-20 19:15] a70m123r commented on #42
Think l'll try a fresh install, see if it resolves the issue. Really keen to play around with it some more!

[2022-11-20 21:29] a70m123r commented on #42
Tried it with a new install of stable diffusion and the addon is working as it should, nice! I think it was some addon or an option is settings, just glad it fixed the issue.

[2022-11-20 22:29] #42 closed

[2022-11-21 03:40] benrugg commented on #42
Great. Glad to hear you got it working!

[2022-11-21 15:32] metaverseplus opened #43 "It continuously give the error of server timing out"
### Describe the bug

Whenever I click the render button the AI renderer give server times out error

### To reproduce

I do everything correctly but when i click the render bttun it shows the error

### Error log

AI Render Error:  The server timed out. Try again in a moment, or get help. [Get help with timeouts](https://github.com/benrugg/AI-Render/wiki/FAQ#%EF%B8%8F-ai-render-keeps-timing-out)

[2022-11-23 07:23] ohmygardn commented on #40
Thanks a lot! I took time but finally I solved
![ai-render-1669187993-2-after](https://user-images.githubusercontent.com/118317458/203491486-483ed4b6-d7e5-412e-8ce2-f9a26e36a525.png)

[2022-11-23 07:32] ohmygardn opened #44 "Feature Request: Add seed (and possibly other params) to output filename"
### Describe the feature you'd like to see:

Please add the ability to save the generation seed in the file name.
So I could repeat the result I like. Right now there is a set of digits which looks like a seed, but it has nothing to do with the actual seed. In the related field other digits are displayed.
Also it would be cool if you could add possibility to animate based on previous generation re

[2022-11-23 10:56] marianobasti commented on #44
Thats a good idea, it would be nice to be able to choose what parameters are annotated in the output filename e.g. sampler, seed, steps, ckpt name.
You will find that in lines 433, 434 and 435 of `operators.py` the names are prepared, that's where these parameters would be appended. Feel free to open a PR with those changes!

[2022-11-23 22:14] benrugg commented on #40
Great! Could you actually let me know what you did to solve it? I've seen a couple other folks have this issue as well.

[2022-11-23 22:14] #40 closed

[2022-11-23 22:15] benrugg commented on #44
Yeah, this is a great idea. I have it on my list for the future. Like @marianobasti suggested, I'd like to actually allow optionally adding the seed, prompt and other params to the filename.

[2022-11-23 22:20] benrugg commented on #43
Every once in a while, the server is overloaded for a minute or two. Can you try again and see if it's working now?

[2022-11-23 22:23] drswoboda opened #45 "New install crashes on render."
### Describe the bug

Fresh install of AI-Render. Simple scene. Simple prompt. Select RENDER in Blender and the plugin ERRORS. Automatic1111 runs fine in my browser window.
-David

[flowers_01.zip](https://github.com/benrugg/AI-Render/files/10079424/flowers_01.zip)
[Blender_SD_RunError.txt](https://github.com/benrugg/AI-Render/files/10079437/Blender_SD_RunError.txt)
[SD_ServerErrorOnRender.txt](ht

[2022-11-23 22:28] benrugg commented on #45
Yeah, someone else had that issue earlier this week: #42

It's an error in Automatic1111, and none of us are sure why it's happening. Apparently a fresh install of Automatic1111 will solve it. (You can copy out the large weights file and then copy it back in, so you don't have to download it again, if you want)

[2022-11-23 22:28] #45 closed

[2022-11-23 22:28] benrugg commented on #45
PS. Thank you for the diligent work posting all the logs!

[2022-11-23 22:42] drswoboda commented on #45
Thanks for the quick reply. I am looking forward to trying your plugin in Blender. It looks really great. I'm glad the bug report was helpful, just trying to make your work a tad bit easier, figuring you can't really give too much information.

[2022-11-24 00:20] drswoboda commented on #45
I just did a full reinstall of Automatic1111 Stable Diffusion, and I still get the Render error. I'll put this on the back burner until there is a known solution. Please let me know if you need any more data to help fix this issue.
Thanks,
-David

[2022-11-24 00:34] benrugg commented on #45
ah, lame... That's really weird. I guess you might want to consider posting on Automatic1111 or seeing if there's already an issue about it. It would be the error you saw, while using "img2img in api mode"

[2022-11-25 07:15] ohmygardn commented on #40
Yeah, actually it was the problem with proxy, I had a few of them and couldn't turn them off.

https://www.ssl2buy.com/wiki/how-to-fix-err-ssl-protocol-error this article helped me, I fixed it with first three points.

[2022-11-25 17:14] benrugg commented on #40
Awesome - thank you so much for letting me know. I will share that with anyone else who has a similar issue!

[2022-11-29 02:59] Lluc3DASM opened #48 "" Detail not found ""
### Describe the feature you'd like to see:

I can't make render AI work with local stable diffusion UI. It works if I use my DreamStudio key, Also stable diffusion UI work from the browser but when I try from blender it does not connect.

serve response {"detail":"Not Found"}

Blender - 3.3.1
Render AI addon - 0.5.3
stable diffusion UI - latest update from 23 ‎November ‎2022

### Additional infor

[2022-11-29 12:05] marianobasti commented on #48
Do you have any extra arguments when running the server?

[2022-11-29 17:22] marianobasti opened #49 "Feature request: Use depth pass as input mask for new SD 2.0 depth model for more structural coherence"
### Describe the feature you'd like to see:

This is exciting! Alongside the last release, we now have a model that has an extra input for a depth map [https://huggingface.co/stabilityai/stable-diffusion-2-depth](url).

A1111's repo hasn't included this in the API yet, but it is definitely something to have in mind, as it brings us a step closer to temporal coherence.

### Additional information

[2022-11-29 17:50] benrugg commented on #48
My guess would be that it's not running in API mode. Did you follow all the steps here? https://github.com/benrugg/AI-Render/wiki/Local-Installation

[2022-11-29 17:50] benrugg commented on #43
@metaverseplus Checking in on this. Can you try again soon?

[2022-11-29 17:52] benrugg commented on #49
Yes! I can't wait for this. I think it will likely provide some really nice power, especially to keep animation more stable. As soon as it's implemented in DreamStudio, Stable Horde or Automatic1111, I'll try to add it quickly!

[2022-11-29 21:20] Lluc3DASM commented on #48
Yes API mode is set "COMMANDLINE_ARGS=--api"

[2022-11-29 21:27] benrugg commented on #48
Gotcha. Are there any other logs either from AI Render or Automatic1111?

[2022-11-29 22:47] benrugg commented on #43
@metaverseplus Actually, I've just released a new version which uses a new API on the backend. This should (almost) for sure not timeout 🤞

Update in the AI Render add-on preferences or get the new version here: https://github.com/benrugg/AI-Render/releases/tag/v0.6.3

[2022-11-29 22:47] #43 closed

[2022-11-29 22:48] Lluc3DASM commented on #48
On the blender console:
AI Render Error:  An error occurred in the Automatic1111 Stable Diffusion server. Full server response: {"detail": "Not Found"}

On the "stable-diffusion-webui" console
Embeddings:
Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.

I tried to modify "launch.py" but I cannot see any "share" setting.

[2022-11-29 22:48] benrugg commented on #5
I haven't tested this out with Diffusion Bee, but I just released a new version of AI Render that uses a different API on the backend. If you still see a timeout with the new version, please re-open this issue!

Update AI Render in the add-on preferences or get the new version here: https://github.com/benrugg/AI-Render/releases/tag/v0.6.3

[2022-11-29 22:48] #5 closed

[2022-11-29 22:49] benrugg commented on #12
Does anyone still see this error in the more recent versions of AI Render?

[2022-11-29 22:51] benrugg commented on #20
Negative prompting is available in the latest release!

Update AI Render in the add-on preferences or get the latest version here: https://github.com/benrugg/AI-Render/releases/tag/v0.6.3

[2022-11-29 22:51] #20 closed

[2022-11-29 22:52] benrugg commented on #20
You can add a single negative prompt, or batch test multiple using animated prompts. More info here: https://github.com/benrugg/AI-Render/wiki/Animation#negative-prompts

[2022-11-29 22:53] benrugg commented on #22
Stable Horde is now available in the latest release! Thank you to @tijszwinkels for making this happen.

Update AI Render in the add-on preferences or get the latest version here: https://github.com/benrugg/AI-Render/releases/tag/v0.6.3

[2022-11-29 22:53] #22 closed

[2022-11-29 23:18] Lluc3DASM commented on #48
the last one is /startup-events

[2022-11-29 23:24] benrugg commented on #48
Yep, that's what I figured. That means it's not running in API mode. (And I was able to replicate it on my end just now with the latest Automatic1111 version. It looks like they changed their response, so I will update AI Render to provide a better error message!)

My guess would be that you are accidentally running `webui.bat` instead of `webui-user.bat`

[2022-11-30 17:49] benrugg commented on #25
Choosing models is now available for DreamStudio with the latest release: https://github.com/benrugg/AI-Render/releases/tag/v0.6.4

Hopefully support for this will be added to to Automatic1111 soon. See https://github.com/AUTOMATIC1111/stable-diffusion-webui/discussions/5206#discussioncomment-4268910

[2022-11-30 22:53] kenster4000 opened #50 "Render Routed via API to Automatic1111 Extension Instead"
### Describe the feature you'd like to see:

Would love to have the render sent immediately to a Blender tab/extension in A1111... so I can use the models and settings there. Definitely something I could do manually doing it in img2img... but would be awesome to leverage API.

### Additional information

_No response_

[2022-11-30 23:34] benrugg commented on #50
Yeah, this is a good idea @kenster4000. I think it's a duplicate of #18, so I'm going to close this and keep it there.

[2022-11-30 23:34] #50 closed